* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #dfdddd;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  position: relative;
  width: 80vmin;
  background-color: #afaaaa;
  padding: 50px;
}

h1, h2 {
  margin: 30px;
  text-align: center;
  color: #fff;
  font-size: 50px;
}

h1 {
  color: black;
}

.btn {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.btn button {
  width: 120px;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
button.increase,
button.decrease {
  background-color: #242424;
  color: #fff;
}
button.reset {
  background-color: transparent;
  border: 2px solid #3d3d3d;
  color: #050505;
  font-weight: bold;
}
